rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra da Coleção de Usuários e Aprovações
    match /usuarios/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update, delete: if request.auth != null;
    }

    // Regra da Coleção de Preços
    match /precos/{document} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    
  }
}
